@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.titulo-destaque {
    color: #9FA5A8;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Inria Serif', serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.apresentacao__links__link {
    background-color: #F1F1F1;
    width: 200px;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: black;
    margin: 10px;
}

.imagem {
    display: block;
    width: 60%;
    max-width: 300px;
    margin: 50px auto 50px; /* Adiciona margem superior */
}

/* Estilos responsivos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .apresentacao {
        flex-direction: column; 
        align-items: center;
    }

    .imagem {
        margin-top: 5; /* Remove a margem superior */
        margin-bottom: 20px; /* Adiciona margem inferior */
    }

    .apresentacao__conteudo {
        width: 90%;
        margin-top: 20px;
    }

    .apresentacao__conteudo__titulo {
        font-size: 28px; 
    }

    .apresentacao__conteudo__texto {
        font-size: 18px; 
    }

    .apresentacao__links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
        padding: 10px 0;
        margin: 5px;
        z-index: 999; /* Garante que os botões fiquem sobrepostos a outros elementos */
        display: flex;
        justify-content: center; /* Centraliza os botões horizontalmente */
    }


    .apresentacao__links__link {
        width: auto; /* Defina a largura automática para os botões */
        margin: 5px; /* Adiciona um pequeno espaço entre os botões */
    }
}

/* Ajustes para dispositivos maiores */
@media only screen and (min-width: 769px) {
    .apresentacao__links {
        justify-content: center; /* Centraliza os botões */
        margin-top: 20px; /* Adiciona um espaçamento entre os botões e o conteúdo */
    }

    .apresentacao__links__link {
        margin: 0 5px; /* Diminui o espaçamento entre os botões */
    }
}
